body {
  margin: 0;
  padding-inline-end: 17px;
  padding-inline-start: 10px; }

html {
  font-family: 'Poppins', sans-serif; }

h1, h2, h3 {
  color: #333333; }

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; }

h3 {
  font-size: 24px;
  line-height: 36px; }

ul {
  padding-inline-start: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@media (min-width: 900px) {
  body {
    padding-inline-end: 56px;
    padding-inline-start: 52px; }
  h2 {
    font-size: 36px;
    line-height: 54px; } }

.edie_homepage_header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between; }

.menu_homepage {
  display: none; }

.edie_homepage_header__anchor {
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.edie_homepage_header__menu {
  position: relative; }

.edie_homepage_header__menu_icon__label {
  position: absolute;
  right: -12px; }

.edie_homepage_header__navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

[type="checkbox"]:checked ~ header .edie_homepage_header__navigation {
  transform: translateX(0);
  background-color: white;
  border-radius: 5px;
  color: #333333; }

[type="checkbox"]:checked ~ .edie_homepage_header .edie_homepage_header__menu_icon__label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

.edie_homepage_header__list {
  padding-block-end: 16px; }

.edie_homepage_header__menu_icon__span {
  color: transparent; }

.edie_homepage_header__anchor:hover {
  text-decoration: underline; }

@media (min-width: 900px) {
  .edie_homepage_header__navigation {
    position: inherit;
    z-index: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  .edie_homepage_header__list_wrapper {
    display: flex;
    flex-direction: row; }
  .edie_homepage_header__list {
    padding-inline-end: 32px; }
  .edie_homepage_header__menu {
    display: none; } }

section {
  margin: auto;
  max-width: 272px; }

figure {
  margin-inline-end: -31px;
  margin-inline-start: -34px; }

blockquote {
  font-size: 24px;
  line-height: 36px; }

.edie_homepage__articles__create_website {
  margin: auto;
  max-width: 272px; }

.edie_homepage__articles__create_website__question {
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB;
  margin-block-end: -18px; }

.edie_homepage__articles__create_website__help__photo {
  width: 100%;
  height: 145px; }

.edie_homepage__articles__create_website__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; }

.edie_homepage__articles__create_website__help__photo {
  border-radius: 18px; }

.edie_homepage__articles__create_website__help__title {
  max-width: 173px; }

.edie_homepage__articles__create_website__help__form {
  padding-block-start: 31px;
  padding-block-end: 102px; }

.edie_homepage__articles__create_website__help__label {
  font-size: 14px;
  line-height: 15px;
  color: #828282; }

.edie_homepage__articles__create_website__help__form {
  background-color: #F2F2F2;
  border-radius: 12px;
  padding-inline-start: 19px;
  padding-block-start: 4px;
  padding-block-end: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.edie_homepage__articles__create_website__help__email_input {
  background-color: #F2F2F2;
  font-size: 20px;
  line-height: 21px;
  color: #BDBDBD;
  border: none; }

.edie_homepage__articles__create_website__help__join_button {
  background: #2D9CDB;
  border-radius: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #F2F2F2;
  border: none;
  padding-block-start: 11px;
  padding-block-end: 13px;
  padding-inline-end: 20px;
  padding-inline-start: 21px;
  margin-inline-start: -70px; }

.edie_homepage__articles__services__header_heading {
  max-width: 346px; }

.edie_homepage__articles__services__branches {
  margin-block-end: 108px; }

.edie_homepage__articles__services__branches:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  padding-block-end: 52px;
  padding-inline-start: 34px;
  padding-inline-end: 34px;
  margin-inline-start: -28px;
  margin-inline-end: -30px;
  transition: all 1s ease-out; }

.edie_homepage__articles__services__branches__description {
  padding-block-end: 39px;
  padding-block-start: 29px; }

.edie_homepage__articles__services__branches:hover .edie_homepage__articles__services__branches__get_started_link {
  background-color: #2D9CDB;
  color: #FFFFFF; }

.edie_homepage__articles__services__branches__get_started_link {
  background-color: #E0E0E0;
  border-radius: 12px;
  padding-block-end: 9px;
  padding-block-start: 9px;
  padding-inline-end: 13px;
  padding-inline-start: 12px; }

@media (min-width: 900px) {
  .edie_homepage__articles__services__branches_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px; }
  .edie_homepage__articles__services {
    padding-block-start: 102px;
    padding-block-end: 155px;
    max-width: 1000px; } }

.edie_homepage__articles__good_design__list__image {
  width: 100%;
  height: auto;
  border-radius: 12px; }

.edie_homepage__articles__good_design__list_job {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282; }

.edie_homepage__articles__good_design__list_product {
  font-size: 18px;
  line-height: 27px;
  padding-block-end: 16px; }

.edie_homepage__articles__good_design__link_see_more {
  font-size: 18px;
  color: #2D9CDB; }

@media (min-width: 900px) {
  .edie_homepage__articles__good_design {
    max-width: 1000px;
    position: relative; }
  .edie_homepage__articles__good_design__navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 31px;
    grid-row-gap: 105px; }
  .edie_homepage__articles__good_design__lists_wrapper:nth-of-type(2n) {
    margin-block-start: calc(-100% / 3); }
  .edie_homepage__articles__good_design__heading {
    padding-block-end: 188px;
    max-width: 448px; }
  .edie_homepage__articles__good_design__link {
    position: absolute;
    right: 0;
    bottom: 23px; } }

.edie_homepage__articles__team {
  max-width: 1000px;
  padding-block-start: 100px; }

.edie_homepage__articles__team__subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #EB5757;
  margin-block-end: -30px; }

.edie_homepage__articles__team__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px; }

.edie_homepage__articles__team__lists_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 36px; }

.edie_homepage__articles__team__list:nth-of-type(1) {
  padding-block-start: calc(100% / 2); }

.edie_homepage__articles__team__list:nth-of-type(2) {
  width: 90%; }

.edie_homepage__articles__team__list:nth-of-type(3) {
  grid-column: 2;
  margin-block-start: calc(-100% / 2); }

.edie_homepage__articles__team__photo {
  border-radius: 24px;
  height: auto; }

.edie_homepage__articles__team__photo:nth-of-type(1) {
  width: 120%; }

.edie_homepage__articles__team__photo:nth-of-type(2) {
  width: 70%; }

.edie_homepage__articles__team__photo:nth-of-type(3) {
  width: 100%; }

@media (min-width: 900px) {
  .edie_homepage__articles__team {
    display: flex;
    flex-direction: row; }
  .edie_homepage__articles__team__lists_wrapper {
    grid-column-gap: 80px; }
  .edie_homepage__articles__team__header {
    max-width: 280px;
    padding-block-start: 124px;
    padding-inline-end: 160px; } }
