.edie_homepage__articles__create_website {
    margin: auto;
    max-width: 272px;
}

.edie_homepage__articles__create_website__question {
    font-size: 12px;
    line-height: 18px;
    color: #2D9CDB;
    margin-block-end: -18px;
}

.edie_homepage__articles__create_website__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.edie_homepage__articles__create_website__help__photo {
    border-radius: 18px;
}

.edie_homepage__articles__create_website__help__title {
    max-width: 173px;
}

.edie_homepage__articles__create_website__help__form {
    padding-block-start: 31px;
    padding-block-end: 102px;
}

.edie_homepage__articles__create_website__help__label {
    font-size: 14px;
    line-height: 15px;
    color: #828282;
}

.edie_homepage__articles__create_website__help__email_input {
    font-size: 20px;
    line-height: 21px;
    color: #BDBDBD;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding-inline-start: 19px;
    padding-block-start: 10px;
    padding-block-end: 14px;
    border: none;
    position: relative;
}

.edie_homepage__articles__create_website__help__join_button {
    background: #2D9CDB;
    border-radius: 12px;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
    border: none;
    padding-block-start: 11px;
    padding-block-end: 13px;
    padding-inline-end: 20px;
    padding-inline-start: 21px;
    position: absolute;
    right: 15%;
}