body {
    margin: 0;
    padding-inline-end: 17px;
    padding-inline-start: 10px;
}

html {
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3 {
    color: #333333;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

}

h3 {
    font-size: 24px;
    line-height: 36px;
}

ul {
    padding-inline-start: 0;
}

li { 
    list-style: none;
}

a {
    text-decoration: none;
}

@media(min-width: 900px) {
    body {
        padding-inline-end: 56px;
        padding-inline-start: 52px;
    }

    h2 {
        font-size: 36px;
        line-height: 54px;
    }
}