// section {
//     margin: auto;
//     max-width: 272px;
// }

figure {
    margin-inline-end: -31px;
    margin-inline-start: -34px;
}

blockquote {
    font-size: 24px;
    line-height: 36px;
}

@media(min-width: 900px) {
    section {
        max-width: 700px;
    }
}